<!DOCTYPE html>
<html lang="pt-br">
<head>
  <title>Folders | Phoenix</title>
  <meta name="author" content="Vitor Delabenetta">
  <meta name="description" content="Seleção de index na ~/Documents do meu usuário">
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="../.././stylesheet/style.css">
  <link rel="stylesheet" type="text/css" href="../.././stylesheet/pages/folders.css">
</head>
<body>
  <main>
    <section id="folders-content">
      <!-- O acesso aos arquivos dizem respeito a minha máquina apenas, pois são atalhos que eu utilizarei -->

      <div id="folders-title">
        <p class="text-medium">Acesso direto aos Documentos</p>
        <div class="linked-selection">
          <img class="icon-folders" src="../.././assets/icons/folders.svg" alt="folders-icon">
          <a href="file:///home/gabriel-delabenetta/Documents/" target="_blanck" class="text-regular">Documentos</a>
        </div>
        <div id="return">
          <a href="../../index.html" class="text-light">&#8617; voltar</a>
        </div>
      </div>
      <div id="folders-archives">
        <div class="linked-selection">
          <img class="icon-folders" src="../.././assets/icons/folders.svg" alt="folders-icon">
          <a href="file:///home/gabriel-delabenetta/Documents/Mestrado/" target="_blanck" class="text-regular">Mestrado</a>
        </div>
        <div class="linked-selection">
          <img class="icon-folders" src="../.././assets/icons/folders.svg" alt="folders-icon">
          <a href="file:///home/gabriel-delabenetta/Documents/Metodologia/" target="_blanck" class="text-regular">Metodologia da Pesquisa</a>
        </div>
          <div id="horizontal-line"></div>
        <div class="linked-selection">
          <img class="icon-books" src="../.././assets/icons/study.svg" alt="studies-icon">
          <span class="text-regular">Livros Importantes</span>
        </div>
        <div id="ident-linked-selection">
          <div class="linked-selection">
            <img class="icon-document" src="../.././assets/icons/document.svg" alt="microsoft-icon">
            <a href="file:///home/gabriel-delabenetta/Documents/Psicologia/Diagnostic_and_Statistical_Manual_(DSM-5).pdf" target="_blanck" class="text-regular">Manual: DSM-5</a>
          </div>
          <div class="linked-selection">
            <img class="icon-document" src="../.././assets/icons/document.svg" alt="microsoft-icon">
            <a href="file:///home/gabriel-delabenetta/Documents/Psicologia/Neuropsicologia_Teoria_e_Pratica.pdf" target="_blanck" class="text-regular">Neuropsicologia: teoria e prática</a>
          </div>
          <div class="linked-selection">
            <img class="icon-document" src="../.././assets/icons/document.svg" alt="microsoft-icon">
            <a href="file:///home/gabriel-delabenetta/Documents/Psicologia/Psicologias_Introdução_ao_Estudo_da_Psicologia.pdf" target="_blanck" class="text-regular">Psicologias: uma introdução</a>
          </div>
          <div class="linked-selection">
            <img class="icon-document" src="../.././assets/icons/document.svg" alt="microsoft-icon">
            <a href="file:///home/gabriel-delabenetta/Documents/Psicologia/Terapia_Cognitiva_Teoria_e_Pratica.pdf" target="_blanck" class="text-regular">Terapia Cognitiva</a>
          </div>
          <div class="linked-selection">
            <img class="icon-document" src="../.././assets/icons/document.svg" alt="microsoft-icon">
            <a href="file:///home/gabriel-delabenetta/Documents/Psicologia/Psicologia_Cognitiva.pdf" target="_blanck" class="text-regular">Psicologia Cognitiva</a>
          </div>
        </div>
      </div>
    </section>
  </main>
  <script src="../.././javascript/./folders/display.js"></script
</body>
</html>
